.footer {
	border-radius: 0 0 15px 15px;
	margin-bottom: 20px;
	min-height: 60px;
	background-color: #34323a;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 14px;
	font-weight: 300;
}